div#tabs > div[data-slot="tabList"] {
    height: 100%;
    width: 100%;
}

div#tabs > div[data-slot="tabList"] > button{
    height: 100%;
    width: 100%;
}

.tab-photos > div[data-slot="tabContent"] {
    width: 30%;
}

.tab-photos > div:hover {
    transform: rotate(360deg);
    transition: all 0.5s ease-out;
}